@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #c0a080;
}

body {
  @apply bg-blue-900;
}

.font-serif {
  font-family: var(--font-playfair), serif;
}

.bg-gold {
  background-color: var(--gold);
}

.border-gold {
  border-color: var(--gold);
}

.text-gold {
  color: var(--gold);
}

.placeholder-gold::placeholder {
  color: var(--gold);
  opacity: 0.7;
}

